body{
    background-image: url(/Assets/kazuha.png);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(216, 176, 176);
    margin: 0%;
}
.container .nav-top{
    box-shadow: 0 2px 1px rgba(236, 71, 71, 0.11);
}
.container .nav-top img{
    display: block;
    width: 200px;
    height: 70px;
}